html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C2BFF;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #F9F9F9;
}

h2 {
    color: #F9F9F9;
}

.card {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #010866;
    width: 60vw;
    height: auto;
    margin: 10px;
    padding: 20px;
}

.form-group input {
    width: 100%;
}

.form-group label {
    display: block;
    margin: 5px auto;
    color: #f0f0f0;
}

.div-block {
    display: block;
    color: #F5F5F5;
}

p { 
    margin: 20px auto 8px;
    color: #f0f0f0;
}

select {
    width: 100%;
}

#textarea {
    display: block;
    width: 100%;
    margin: 5px auto;
}

#label-textarea {
    margin: 20px auto 8px;
}

#submit {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 30px auto 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #32CD32;
    border: none;
    border-radius: 5px;
    color: #232323;
    font-size: 15px;
}

#submit:hover {
    color: #f0f0f0;
}